# Dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
dist/
build/
.aws-sam/
cdk.out/
.react-router/

# Cache
.turbo/
.cache/
coverage/

# IDE
.idea/
.vscode/

# Generated
*.d.ts
*.min.js
*.min.css
